#root {
  /* 幅は固定する */
  max-width: 560px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 「戻る」ボタン */
.back-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 24px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;

  /* 他の要素より前に */
  z-index: 100;

  &:hover {
    background-color: lightgray;
  }
}
